@import "tailwindcss";
@plugin "daisyui";

@theme {
  --color-utama: #002b6a;
  --color-utama-hover: #00295a;
  --color-second: #00cc83;
  --color-second-hover: #02a66b;
}

/* HTML: <div class="loader"></div> */
.loader {
  display: inline-flex;
}
